{% extends "main/base/base.html" %}
{% load static %}
{% block content %}
    <style>
    .about-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        background: linear-gradient(145deg, #444, #222);
        color: #fff;
        font-size: 28px;
        font-weight: bold;
        border-radius: 50%;
        text-transform: uppercase;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        margin: 0 auto 20px;
    }
    .descripcion {
        display: block;
        text-align: center;
        margin-bottom: 30px; 
        font-style: italic; 
        font-size: 1.1rem; 
        color: #444; 
        background: #f7f7f7; 
        padding: 15px; 
        border-radius: 8px; 
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    }
    .descripcion span.text-muted {
        color: #888; 
    }

    .about-text h3 {
        font-size: 1.8rem;
        font-weight: 700;
    }

    .about-text p {
        line-height: 1.6;
        font-size: 1rem;
        margin-bottom: 15px;
    }

    .about-list .media {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .about-list .media label {
        font-weight: 600;
        color: #555;
        margin-right: 10px;
    }

    .counter .count-data {
        margin: 15px 0;
    }

    .count-data h6 {
        font-size: 2rem;
        color: #222;
    }

    .count-data p {
        font-size: 0.9rem;
        color: #666;
    }

    .form-update label {
        color: #222 !important;
    }

    .form-update input {
        color: #222 !important;
    }

    .form-update textarea {
        width: 100%;
        height: 100px;
        color: #222 !important;
    }
    </style>
    <link rel="stylesheet" href="{% static 'css/form-register.css' %}">
    {% include 'main/componentes/ui/title.html' with titulo="Perfil" %}
    {% if messages %}
        <div class="alert-messages">
            {% for message in messages %}<div class="alert alert-{{ message.tags }}">{{ message }}</div>{% endfor %}
        </div>
    {% endif %}
    {% if form.non_field_errors %}
        <div class="alert alert-danger">
            {% for error in form.non_field_errors %}<p>{{ error }}</p>{% endfor %}
        </div>
    {% endif %}
    <section class="section about-section gray-bg" id="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 text-center">
                    <div class="about-avatar" id="avatar-container"></div>
                    <button id="btn-toggle-user" class="btn btn-primary ">Actualizar perfil</button>
                    {% if not cliente_info.verificado %}
                        <button id="btn-toggle-verify" class="btn btn-primary">Verificar</button>
                    {% endif %}
                </div>
                <div class="col-lg-9">
                    <div class="about-text">
                        <div style="" id="read-user" class="">
                            <h6 class="dark-color theme-color lead">Información personal</h6>
                            <i class="descripcion"
                               style="margin-bottom: 30px;
                                      font-style: italic;
                                      color: #555;
                                      font-size: 1.1rem">
                                {% if not cliente_info.descripcion %}
                                    <span class="text-muted">No tienes ninguna descripción aún.</span>
                                {% else %}
                                    {{ cliente_info.descripcion }}
                                {% endif %}
                            </i>
                            <div class="row about-list">
                                <div class="col-md-6">
                                    <div class="media" style="font-size: 20px;">
                                        <label>Nombre de usuario:</label>
                                        <i>{{ cliente_info.cliente.username }}</i>
                                    </div>
                                    <div class="media">
                                        <label>Nombre:</label>
                                        <i>{{ cliente_info.nombres|default:"No disponible" }}</i>
                                    </div>
                                    <div class="media">
                                        <label>Apellidos:</label>
                                        <i>{{ cliente_info.apellidos|default:"No disponible" }}</i>
                                    </div>
                                    <div class="media">
                                        <label>Teléfono:</label>
                                        <i>{{ cliente_info.telefono|default:"No disponible" }}</i>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="media">
                                        <label>Correo:</label>
                                        <i>{{ cliente_info.correo|default:"No especificada" }}</i>
                                    </div>
                                    <div class="media">
                                        <label>Fecha nacimiento:</label>
                                        <i>{{ cliente_info.fecha_nacimiento|default:"No disponible" }}</i>
                                    </div>
                                    <div class="media">
                                        <label>Esta verificado:</label>
                                        {% if cliente_info.verificado %}
                                            <i class="text-success">Sí</i>
                                        {% else %}
                                            <i class="text-danger">No</i>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id="update-user" class=" hidden">
                            <form class="form-update" method="post">
                                {% csrf_token %}
                                {% if update_form.non_field_errors %}
                                    <div class="alert alert-danger">{{ update_form.non_field_errors }}</div>
                                {% endif %}
                                <div class="row">
                                    {% for field in update_form %}
                                        <div class="input-field col-md-4" style="margin: 2em;">
                                            {{ field }}
                                            {{ field.label_tag }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <button type="submit" class="btn btn-primary" style="width: 100%;">Actualizar</button>
                            </form>
                        </div>
                        <div id="verificar-correo" class=" hidden">
                            <form id="form-verificar-correo" class="form-register" method="post">
                                {% csrf_token %}
                                {% if verificar_correo_form.non_field_errors %}
                                    <div class="alert alert-danger">{{ verificar_correo_form.non_field_errors }}</div>
                                {% endif %}
                                <div class="row">
                                    {% for field in verificar_correo_form %}
                                        <div class="input-field" style="margin: 2em;">
                                            {{ field }}
                                            {{ field.label_tag }}
                                        </div>
                                    {% endfor %}
                                </div>
                                <button type="submit" class="btn btn-primary" style="width: 100%;">Verificar</button>
                                <p class="btn btn-primary"
                                   id="btn-reenviar-correo"
                                   style="width: 100%;
                                          margin-top: 1em">Reenviar correo de verificación</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
    const user = {
        firstName: "{{ cliente_info.nombres|default:'' }}",
        lastName: "{{ cliente_info.apellidos|default:'' }}",
        username: "{{ cliente_info.cliente.username|default:'' }}"
    };

    function generateAvatar() {
        const avatarContainer = document.getElementById("avatar-container");
        let initials = "";

        if (user.firstName && user.lastName) {
            initials = user.firstName[0] + user.lastName[0];
        } else {
            initials = user.username[0];
        }

        avatarContainer.textContent = initials;
    }

    generateAvatar();
    const btnVerificarCorreo = document.querySelector("#btn-toggle-verify");
    const btnToggleUser = document.querySelector("#btn-toggle-user");
    const readUser = document.querySelector("#read-user");
    const updateUser = document.querySelector("#update-user");
    const verificarCorreo = document.querySelector("#verificar-correo");

    let tipo = "ver"; // Valor inicial

    function statusVerificarToggle() {
        // Ocultar todos los contenedores al inicio
        verificarCorreo.classList.add("hidden");
        readUser.classList.add("hidden");
        updateUser.classList.add("hidden");

        // Mostrar el contenedor correspondiente según el estado de `tipo`
        switch (tipo) {
            case "actualizar":
                updateUser.classList.remove("hidden");
                btnToggleUser.innerText = "Ver perfil";
                break;
            case "ver":
                readUser.classList.remove("hidden");
                btnToggleUser.innerText = "Actualizar usuario";
                break;
            case "verificar":
                verificarCorreo.classList.remove("hidden");
                btnToggleUser.innerText = "Ver perfil";
                break;
        }
    }

    btnToggleUser.addEventListener("click", () => {
        tipo = tipo === "ver" ? "actualizar" : "ver";
        statusVerificarToggle();
    });

    btnVerificarCorreo.addEventListener("click", () => {
        tipo = tipo === "verificar" ? "ver" : "verificar";
        statusVerificarToggle();
    });

    // Inicialización para reflejar el estado inicial
    statusVerificarToggle();

    const btnReenviarCorreo = document.querySelector("#btn-reenviar-correo");
    const reenviarCorreoFuncion = async () => {
        const response = await fetch("{% url 'clientes:reenvio_correo' %}");
        const data = await response.json();
        if (data.success) {
            alert(data.message);
        } else {
            alert(data.message);
        }

    };
    btnReenviarCorreo.addEventListener("click", reenviarCorreoFuncion);

    const formVerificarCorreo = document.querySelector("#form-verificar-correo");
    formVerificarCorreo.addEventListener("submit", async (e) => {
        e.preventDefault();

        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;  // Obtener el token CSRF desde el formulario
        const formData = new FormData();
        formData.append("codigo_verificacion_correo", document.getElementById("id_codigo_verificacion_correo").value);
        
        console.log(formData);

        const response = await fetch("{% url 'clientes:verificar_correo' %}", {
            method: "POST",
            headers: {
                "X-CSRFToken": csrfToken,  // Incluir el token CSRF en la cabecera
            },
            body: formData,
        });

        if (!response.ok) {
            const errorText = await response.text();
            console.error("Error en la respuesta:", errorText);
            return;
        }

        const data = await response.json();
        if (data.success) {
            location.reload();
            alert(data.message);
        } else {
            alert(data.message);
        }
    });

    

    </script>
{% endblock %}
