{% extends "main/base/base.html" %}
{% load static %}
{% block content %}
    <style>
.evento-imagen {
    width: 300px; 
    height: 200px; 
    object-fit: cover; 
    display: block; 
}

    </style>
    {% if  request.user.is_superuser %}
        {% include 'main/componentes/ui/title.html' with titulo="TODAS LAS RESERVAS" %}
    {% else %}
        {% include 'main/componentes/ui/title.html' with titulo="MIS RESERVAS" %}
    {% endif %}
    <div class="section section-white">
        <div class="container">
            <div class="row">
                <ul class="grid cs-style-3">
                    {% if reservas_items %}
                        {% for item in reservas_items %}
                            <div class="col-md-4 col-sm-6">
                                <figure>
                                    <img class="evento-imagen"
                                         src="{% if item.foto %}{{ item.foto.imagen.url }}{% else %}{% static 'img/404.jpg' %}{% endif %}"
                                         alt="img04">
                                    <figcaption>
                                        <h3>{{ item.reserva.evento.nombre }}</h3>
                                        <span style="display: block;">{{ item.reserva.fechalquiler }}</span>
                                        <span style="display: block; ">Estado: {{ item.reserva.estado_alquiler }}</span>
                                        <a href="{% url 'reservas:reserva_detail' item.reserva.id %}">ver más</a>
                                    </figcaption>
                                </figure>
                            </div>
                        {% endfor %}
                    {% else %}
                        <div class="col-md-12">
                            <div class="alert alert-info" role="alert">
                                {% if request.user.is_superuser %}
                                    <h4 class="alert-heading">No hay reservas</h4>
                                    <p>No hay reservas disponibles en este momento.</p>
                                {% else %}
                                    <h4 class="alert-heading">No hay reserva</h4>
                                    <p>No has hecho ninguna reserva aun.</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
