{% extends "main/base/base.html" %}
{% load static %}
{% block content %}

{% include 'main/componentes/ui/title.html' with titulo="Reservas" %}
<link rel="stylesheet" href="{% static 'css/form-register.css' %}">
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Haz tu reservas</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" class="form-register" style="background: #222; border-radius: 20px;">
                            {% csrf_token %}
                            {% if formNewReserva.non_field_errors %}
                                <div class="alert alert-danger">
                                    {% for error in formNewReserva.non_field_errors %}
                                        <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                            {% endif %}
                            {% for field in formNewReserva %}
                                <div class="input-field">
                                    {{ field }}
                                    {{ field.label_tag }}
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary" style="width: 100%;">Crear reserva</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}