{% load static %}
<header class="navbar navbar-inverse" style="position: sticky; top: 0; z-index: 1000; margin-bottom: 0;">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{% url 'main:home' %}"><img width="100"
					src="{{ configuracion.logo_negocio.url }}" alt="Basica"></a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="active"><a href="{% url 'main:home' %}">Home</a></li>
				<li><a href="{% url 'negocio:listar_eventos' %}">Eventos</a></li>
				<li><a href="{% url 'negocio:listar_servicios' %}">Servicios</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <i class="icon-angle-down"></i></a>
					<ul class="dropdown-menu">
						<li><a href="#">Dropdown Menu 1</a></li>
						<li><a href="#">Dropdown Menu 2</a></li>
						<li><a href="#">Dropdown Menu 3</a></li>
						<li><a href="#">Dropdown Menu 4</a></li>
						<li><a href="#">Dropdown Menu 5</a></li>
						<li class="divider"></li>
						<li><a href="#">Politica de privacidad</a></li>
						<li><a href="#">Terminos de uso</a></li>
					</ul>
				</li>
				<li><a href="">Blog</a></li>
					{% if request.user.is_authenticated %}
					<li>
						<a href="{% url 'clientes:mis_datos' %}">Mis datos</a>
					</li>
					{% else %}
					<li>
						<a href="{% url 'clientes:registro' %}">Crea tu cuenta</a>
					</li>
					<li class="active">

						<a href="{% url 'clientes:login' %}">Inicia sesión</a>
					</li>
					{% endif %}
			</ul>
		</div>
	</div>
</header>