{% extends "main/base/base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/form-register.css' %}">

{% include 'main/componentes/ui/title.html' with titulo="Crear cuenta" %}
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post" class="form-register">
                            {% csrf_token %}
                            <div class="card-header">
                                <h3 class="card-title" style="color: white;">Sign Up</h3>
                            </div>
                            {% if form.non_field_errors %}<div class="alert alert-danger">{{ form.non_field_errors }}
                            </div>{% endif %}
                            {% for field in form %}
                            <div class="input-field">
                                {{ field }}
                                {{ field.label_tag }}
                            </div>
                            {{ field.errors }}
                            {% endfor %}
                            <button type="submit" class="btn btn-primary" style="width: 100%;">Registrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}