{% extends "main/base/base.html" %}
{% load static %}
{% block content %}

{% include 'main/componentes/ui/title.html' with titulo="Servicios" %}


<div class="section section-white">
    <div class="container">
        <div class="row">
            <ul class="grid cs-style-3">

                {% if servicios %}
                {% for servicio in servicios %}
                <div class="col-md-4 col-sm-6">
                    <figure>
                        <img src="{% if servicio.foto %}{{ servicio.foto.imagen.url }}{% else %}{% static 'img/404.jpg' %}{% endif %}" alt="img04">
                        <figcaption>
                            <h3>{{ servicio.servicio.nombre }}</h3>
                            <span>{{ servicio.servicio.descripcion }}</span>
                            <a href="{% url 'negocio:obtener_servicio' servicio.servicio.id %}">ver más</a>
                        </figcaption>
                    </figure>
                </div>
                {% endfor %}
                {% else %}
                <div class="col-md-12">
                    <div class="alert alert-info" role="alert">
                        <h4 class="alert-heading">No hay eventos</h4>
                        <p>No hay eventos disponibles en este momento.</p>
                    </div>
                </div>
                {% endif %}

            </ul>
        </div>
    </div>
</div>


{% endblock %}