{% extends "main/base/base.html" %}
{% load static %}
{% block content %}
{% include 'main/componentes/ui/banner.html' %}
{% include 'main/componentes/ui/title.html' with titulo="Nuestros Eventos" %}
<div class="section section-white">
    <div class="container">
        <div class="grid cs-style-3">
            {% for evento in eventos_mas_populares %}


            <div class="col-md-4 col-sm-6">
                <figure>
                    <img src="{% if evento.foto %}{{ evento.foto.imagen.url }}{% else %}{% static 'img/404.jpg' %}{% endif %}" alt="img04">
                    <figcaption>
                        <h3>{{ evento.evento.nombre }}</h3>
                        <span>{{ evento.evento.descripcion }}</span>
                        <a href="{% url 'negocio:obtener_evento' evento.evento.id %}">ver más</a>
                    </figcaption>
                </figure>
            </div>	
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}


<!-- {% url 'negocio:obtener_evento' evento.evento.id %} -->