{% extends "main/base/base.html" %}
{% load static %}
{% block content %}
    {% include 'main/componentes/ui/banner.html' %}
    {% include 'main/componentes/ui/title.html' with titulo="Nuestros Eventos" %}
    <div class="section section-white">
        <div class="container">
            <div class="row">
                {% for evento in eventos_mas_populares %}
                    {% include 'main/componentes/ui/tarjetaCategoria.html' with item=evento.evento link="obtener_evento" imagen_url=evento.foto.imagen.url %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
